h1 {
	color: navy;
}

.magic {
	background-color: #333333
}

.inlineBlock {
	display: inline-block;
	background-color: cadetblue;
	*{
		display: inline-block;
	}
}

.inlineFlex {
	display: inline-flex;
	background-color: cadetblue;
	*{
		display: inline-flex;
	}
}

.flex {
	display: flex;
	background-color: sandybrown;

	*{
		display: flex;
	}
}

.block {
	display: block;
	background-color: royalblue;
	*{
		display: block;
	}
}

img.gif {
	padding-right: 5px;
}
