h1 {
	color: navy;
}

.magic {
	background-color: #333333
}

.inlineBlock {
	display: inline-block;
	background-color: cadetblue;
}

.inlineFlex {
	display: inline-flex;
	background-color: cadetblue;
}

.flex {
	display: flex;
	background-color: sandybrown
}

.block {
	display: block;
	background-color: royalblue;
}
